# emacs
*~

# compiler build artifacts
*.o
*.elf
*.hex
*.asm
*.a
*.out
*.srec
*.ihex
*.bin
*.i
*.map
_depends
*.astyle.orig

# python artifacts
*.pyc

# kicad files
*.bak
*.bck
*.raw
*.log
*.dcm
*.kicad_pcb-bak
*autosave*
*cache*

# 3rd party library builds
3rd-party/build-*
/Debug/

# generated documentation
doc/html/
doc/latex/
doxygen.warnings.log
results.csv
results_640_480.csv
